<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkstockpro.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
				<key>dateExpires</key>
				<string>8/9/2565 BE</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
						<key>dateExpires</key>
						<string>8/9/2565 BE</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BTQ9Z9J8RM</string>
						<key>name</key>
						<string>AOI NA DARA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
						<key>dateExpires</key>
						<string>8/9/2565 BE</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BTQ9Z9J8RM</string>
						<key>name</key>
						<string>AOI NA DARA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
						<key>dateExpires</key>
						<string>8/9/2565 BE</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BTQ9Z9J8RM</string>
						<key>name</key>
						<string>AOI NA DARA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
						<key>dateExpires</key>
						<string>8/9/2565 BE</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BTQ9Z9J8RM</string>
						<key>name</key>
						<string>AOI NA DARA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
						<key>dateExpires</key>
						<string>8/9/2565 BE</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BTQ9Z9J8RM</string>
						<key>name</key>
						<string>AOI NA DARA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
						<key>dateExpires</key>
						<string>8/9/2565 BE</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BTQ9Z9J8RM</string>
						<key>name</key>
						<string>AOI NA DARA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
						<key>dateExpires</key>
						<string>8/9/2565 BE</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BTQ9Z9J8RM</string>
						<key>name</key>
						<string>AOI NA DARA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
						<key>dateExpires</key>
						<string>8/9/2565 BE</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BTQ9Z9J8RM</string>
						<key>name</key>
						<string>AOI NA DARA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
						<key>dateExpires</key>
						<string>8/9/2565 BE</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PDFNet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BTQ9Z9J8RM</string>
						<key>name</key>
						<string>AOI NA DARA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
						<key>dateExpires</key>
						<string>8/9/2565 BE</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Tools.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BTQ9Z9J8RM</string>
						<key>name</key>
						<string>AOI NA DARA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
						<key>dateExpires</key>
						<string>8/9/2565 BE</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BTQ9Z9J8RM</string>
						<key>name</key>
						<string>AOI NA DARA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EE682F47E648F667E17611179A0CDCF048D3A95</string>
						<key>dateExpires</key>
						<string>8/9/2565 BE</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BTQ9Z9J8RM</string>
						<key>name</key>
						<string>AOI NA DARA</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BTQ9Z9J8RM.com.jkcrsly.checkstockpro</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BTQ9Z9J8RM</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>BTQ9Z9J8RM.com.jkcrsly.checkstockpro</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0b0873c7-c263-42ea-bbc2-3c340d95148a</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.jkcrsly.checkstockpro</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BTQ9Z9J8RM</string>
				<key>name</key>
				<string>AOI NA DARA</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
